[package]
name = "authd-protocol"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
serde.workspace = true
rmp-serde.workspace = true
thiserror.workspace = true

[dev-dependencies]
toml.workspace = true
